# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.cpython-*.pyc

# Virtual environment
venv/
env/

# Environment variables
.env

# Django
*.sqlite3
staticfiles/
media/

# Docker
postgres_data/

# React
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.production

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Gunicorn
gunicorn.pid
*.ctl